/* ESTILOS DEL INDEX */
body {
  background-color: #060606; }

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse; }

.titulo-lateral h1 {
  color: aliceblue;
  font-family: Helvetica, sans-serif;
  text-align: left;
  justify-content: center;
  font-size: 40px;
  padding: 80px; }

/* Ultimos releases */
#worlds-unseen {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  text-align: center; }

#endless-road {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  text-align: center; }

#set {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  text-align: center; }

.latest {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  text-align: center; }

/* BIOGRAFIA */
.titulobio {
  padding: 15px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: aliceblue;
  text-align: center; }

.historia {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: oblique;
  text-indent: 1cm;
  color: whitesmoke;
  text-align: left; }

.barranegra {
  padding: 30px;
  background-color: #060606; }

/* Estilos del FOOTER */
footer {
  background-color: #464141; }

.redes ul {
  list-style: none;
  padding-top: 5px;
  justify-content: flex-start; }

.redes ul li a {
  text-decoration: none;
  font-size: smaller;
  color: #8e8c8f; }

.textofooter {
  display: flexbox;
  justify-content: flex-end;
  align-items: center; }

/* DISCOGRAFIA */
.discografia {
  font-family: Arial, Helvetica, sans-serif;
  color: whitesmoke;
  text-align: center;
  padding-bottom: 40px;
  padding-top: 10px; }

.releases {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: rgba(53, 54, 100, 0.288); }

.releases-2 {
  display: flex;
  justify-content: space-evenly;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: whitesmoke; }

/* EVENTOS */
.titulo-eventos {
  padding: 15px;
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  color: aliceblue;
  text-align: center; }

.grilla-eventos {
  color: aliceblue;
  text-align: center;
  display: grid;
  grid-template-areas: "mayo" "junio" "julio" "agosto"; }

.mayo {
  grid-area: mayo; }

.junio {
  grid-area: junio; }

.julio {
  grid-area: julio; }

.agosto {
  grid-area: agosto; }

.botoncompra {
  justify-content: center; }

/* CONTACTO */
.titulocontacto {
  color: whitesmoke; }

.redes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.formulariocontacto {
  color: whitesmoke; }

/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; }
  .titulo-lateral h1 {
    font-size: 70px; } }

.grilla-eventos {
  display: grid;
  grid-template-areas: "mayo junio" "julio agosto"; }

/* ANIMACIONES / TRANSICIONES */
.foto-lateral {
  transition-property: all;
  transition-duration: .5s;
  opacity: 1;
  animation-name: fade-in;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-duration: 2s; }

.foto-lateral:hover {
  transform: scale(0.9); }

#worlds-unseen {
  transition-property: all;
  transition-duration: .5s; }

#worlds-unseen:hover {
  transform: scale(1.5); }

#endless-road {
  transition-property: all;
  transition-duration: .5s; }

#endless-road:hover {
  transform: scale(1.5); }

#set {
  transition-property: all;
  transition-duration: .5s; }

#set:hover {
  transform: scale(1.5); }

#tpas2 {
  transition-property: all;
  transition-duration: .5s; }

#tpas2:hover {
  transform: scale(1.5); }

#tpas1 {
  transition-property: all;
  transition-duration: .5s; }

#tpas1:hover {
  transform: scale(1.5); }

@keyframes fade-in {
  0% {
    transform: translateX(500px);
    opacity: 0; }
  50% {
    transform: translateX(80px);
    opacity: .5; }
  100% {
    transform: translateX(0px);
    opacity: 1; } }
