    /* BIOGRAFIA */

    .titulobio{
        padding: 15px;    
        font-family: Helvetica, sans-serif;
        font-size: 20px;
        color: $color-titulos;
        text-align: center;
    }
    
    .historia{
        font-family: $fuente-principal;
        font-size: 16px;
        font-style: oblique;
        text-indent: 1cm;
        color: $color-texto;
        text-align: left;
    }