/* Ultimos releases */
#worlds-unseen{
    font-family: $fuente-principal;
    color: $color-texto;
    text-align: center;
}

#endless-road{
    font-family: $fuente-principal;
    color: $color-texto;
    text-align: center;
}

#set{
    font-family: $fuente-principal;
    color: $color-texto;
    text-align: center;
}
.latest{
    font-family: $fuente-principal;
    color: $color-texto;
    text-align: center;
}


